<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there ! I am Hawa. Currently a second year degree full-time student persuing Electronics Engineering. The hardest task about developing a website is actually coming up with captions but here we are.</p>
      </div>
      <div class="col-lg-4">
        <p> I am interested in Military and Defence Technology and wish to partake in that field. Im quite here and there when it comes to interest but i am wholeheartedly enthusiastic in what i do. Motivation is always high as long as i have an ounce of "i need to impact the world" inside of me.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        </a>
      </div>
    </div>
  </div>
</section>
